<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="row">
    <div class="text-left" style="margin-top: 15px;margin-left: 15px;">
        <button type="button" id="button-add" class="btn btn-success m-b-10 m-l-5">&nbsp;&nbsp;添加&nbsp;&nbsp;</button>
        <button type="button" id="button-detail" class="btn btn-info m-b-10 m-l-5">编辑/查看详情</button>
        <button type="button" id="button-delete" class="btn btn-danger m-b-10 m-l-5">&nbsp;&nbsp;删除&nbsp;&nbsp;</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 blue text-white">机构树</h4>
            </div>
            <div class="card-body" style="height: 450px;overflow: auto;">
                <div class="card-content">
                    <ul id="orgTree" class="ztree"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">机构信息</h4>
            </div>
            <div class="card-body" style="height: 450px;overflow: auto;">
                <div class="card-content">
                    <div class="form-validation" style="margin-top: 15px;">
                        <form class="form-valide form-horizontal" action="system/org/saveOrUpdate" method="post" id="orgForm">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <input type="hidden" name="id" id="id">
                                            <label class="control-label text-right col-md-3">机构名称</label>
                                            <div class="col-md-9">
                                                <input type="text" id="fullname" name="fullname" class="form-control" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">机构简称</label>
                                            <div class="col-md-9">
                                                <input type="text" id="shortname" name="shortname" class="form-control form-control-danger">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <input type="hidden" name="pid" id="orgPid">
                                            <label class="control-label text-right col-md-3">上级机构</label>
                                            <div class="col-md-9">
                                                <input type="text" id="parentName" readonly name="parentName" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">负责人</label>
                                            <div class="col-md-9">
                                                <input type="text" id="managerName" name="managerName" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">详细地址</label>
                                            <div class="col-md-9">
                                                <input type="text" id="addressDetail" name="addressDetail" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="control-label text-right col-md-3">联系电话</label>
                                            <div class="col-md-9">
                                                <input type="text" id="phone" name="phone"
                                                       class="form-control form-control-danger">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button id="submitOrg" type="submit" class="btn btn-success">&nbsp;&nbsp;保存&nbsp;&nbsp;</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function loadTree() {
        Core.ajaxGet("system/org/list", function (result) {
            if (result != null && result.code == 1) {
                Core.initTree("orgTree", Core.radioSetting("fullname", function (event, treeId, treeNode) {
                    $("#orgForm").fillValue(treeNode);
                    $("#button-modify").removeAttr("disabled");
                    $("#parentName").val(treeNode.parentName);
                    $("#pid").val(treeNode.pid);
                }), result.data);
            }
        });
    }
    $(function () {

        loadTree();

        Core.click("button-add", function () {
            var tree = Core.treeInfo("orgTree");
            var nodes = tree.getSelectedNodes();
            if (nodes == null || nodes.length == 0) {
                alert("请至少选择一个上级机构");
                return;
            }
            $("#orgDetail").empty();
            $("#orgForm").resetForm();
            $("#id").val("");
            $("#orgPid").val(nodes[0].id);
            $("#parentName").val(nodes[0].fullname);
            $("#disabled").attr("disabled", true);
        });

        $("#orgForm").validate({
            submitHandler: function(form) {
                jQuery(form).ajaxSubmit(function () {
                    alert("操作成功");
                    loadTree();
                    $("#orgForm").resetForm();
                });
            }
        });

        Core.click("button-detail", function () {
            var tree = Core.treeInfo("orgTree");
            var nodes = tree.getSelectedNodes();
            if (nodes == null || nodes.length == 0) {
                alert("请至少选择一个机构");
                return;
            }
            orgId = nodes[0].id;
            Core.loadPage("jump?source=orgDetail","编辑["+nodes[0].fullname+"]详情");
        });
        Core.click("button-delete",function(){
            var tree = Core.treeInfo("orgTree");
            var nodes = tree.getSelectedNodes();
            if (nodes == null || nodes.length == 0 || nodes.length != 1) {
                alert("删除选择错误");
                return;
            }
            Core.ajaxGet("system/org/delete?orgId=" + nodes[0].id,function (result) {
                if(result != null && result.code == 1){
                    Core.toastrSuccess("删除成功");
                    loadTree();
                    $("#orgForm").resetForm();
                } else {
                    Core.toastrError(result.message);
                }
            });
        });
    });
</script>
</html>