<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<script th:inline="javascript">
    if (isInstance == 1) {
        UE.getEditor('editor').destroy();
    }
    var ue = UE.getEditor('editor');
    var id = null;
    ue.addListener("ready", function () {
        isInstance = 1;
        id = member.id;
        UE.getEditor('editor').execCommand('insertHtml', member.memberCreate);
    });
    $(function () {
        Core.click("button-detail-add",function () {
            var content = UE.getEditor('editor').getAllHtml();
            if(id == null) {
                Core.toastrWarning("数据有误");
                return;
            }
            var data = {memberCreate:content,id:id};
            Core.ajaxPost("member/party/saveOrUpdate",data,function (result) {
                if(result != null && result.code == 1) {
                    Core.toastrSuccess("编辑成功");
                    member = null;
                    Core.loadPage("jump?source=partyMembers","党员信息管理");
                }
            });
        });
        Core.click("button-detail-back",function () {
            member = null;
            Core.loadPage("jump?source=partyMembers","党员信息管理");
        });
    });
</script>
</head>
<body>
<input type="hidden" id="id" name="id">
<div><script id="editor" type="text/plain" style="width:1024px;height:500px;"></script></div>
<div class="row">
    <div class="text-left" style="margin-top: 15px;margin-left: 15px;">
        <button type="button" id="button-detail-add" class="btn btn-success m-b-10 m-l-5">&nbsp;&nbsp;保存&nbsp;&nbsp;</button>
        <button type="button" id="button-detail-back" class="btn btn-warning m-b-10 m-l-5">&nbsp;&nbsp;返回&nbsp;&nbsp;</button>
    </div>
</div>
</body>
</html>