<!DOCTYPE html>
<html lang="en">
<body>
<div class="row">
    <div class="card card-outline-info col-lg-6">
        <div class="card-header">
            <h4 class="m-b-0 text-white">修改密码</h4>
        </div>
        <div class="card-body">
            <div class="card-content">
                <div class="form-validation" style="margin-top: 15px;">
                    <form class="form-valide form-horizontal" action="updatePassword" method="post" id="updatePasswordForm">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <input type="hidden" name="id" id="id">
                                        <label class="control-label text-right col-md-3">新密码</label>
                                        <div class="col-md-9">
                                            <input type="password" id="password" name="password" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="control-label text-right col-md-3">确认密码</label>
                                        <div class="col-md-9">
                                            <input type="password" id="cpassword" name="cpassword" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn btn-success">&nbsp;&nbsp;保存&nbsp;&nbsp;</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#updatePasswordForm").validate({
            rules: {
                "password": {
                    required: !0
                },
                "cpassword": {
                    required: !0,
                    equalTo: "#password"
                }
            },
            messages: {
                "password": {
                    required: "不能为空"
                },
                "cpassword": {
                    required: "不能为空",
                    equalTo: "两次输入密码不一致"
                }
            },
            submitHandler: function(form) {
                jQuery(form).ajaxSubmit(function (result) {
                    if(result != null && result.code == 1){
                        Core.toastrSuccess("密码修改成功");
                    } else {
                        Core.toastrError("密码修改失败");
                    }
                });
            }
        });
    });
</script>
</body>
</html>