<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script>
    if (isInstance == 1) {
        UE.getEditor('editor').destroy();
    }
    var ue = UE.getEditor('editor');
    ue.addListener("ready", function () {
        isInstance = 1;
        Core.ajaxGet("system/org/query?orgId="+orgId,function (result) {
            if (result != null && result.code == 1) {
                orgInfo = result.data;
                Core.setDisabled();
                console.info(orgInfo.detail);
                UE.getEditor('editor').execCommand('insertHtml', orgInfo.detail);
                $("#button-detail-add").attr("disabled",true);
            }
        });
    });
    $(function () {
        Core.click("button-detail-add",function () {
            var content = Core.getContent();
            var data = {detail:content,id:orgId};
            Core.ajaxPost("system/org/saveOrUpdate",data,function (result) {
                if(result != null && result.code == 1) {
                    alert("详情编辑成功");
                    Core.setEnabled();
                    UE.getEditor('editor').destroy();
                    Core.loadPage("jump?source=org","机构管理");
                }
            });
        });
    });
</script>
<body>
<div><script id="editor" type="text/plain" style="width:1024px;height:500px;"></script></div>
<div class="row">
    <div class="text-left" style="margin-top: 15px;margin-left: 15px;">
        <button type="button" id="button-detail-add" class="btn btn-success m-b-10 m-l-5">&nbsp;&nbsp;保存&nbsp;&nbsp;</button>
    </div>
</div>
</body>
</html>